.document__previous-link {
    display: flex;
    align-items: center;
    margin: 10px 10px;
    align-items: center;
    font-size: 1.4rem;
}

.document__previous-link .home-icon {
    color: var(--main-color);
}

.document__previous-link .right-icon {
    min-width: 10px;
    padding: 0 3px 0 5px;
    font-size: 1.8rem;
}

#document {
    padding: 10px;
    background-color: var(--white-color);
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    border-radius: 6px;
}

.document__admin {
    font-size: 1.3rem;
    color: var(--bright-brown-color);
}

.document__admin-account {
    padding: 0 5px;
}

.document__header {
    margin: 20px 0 0;
}

.document__header-title {
    text-align: center;
    margin-bottom: 5px;
}

.document__header-desc {
    width: 95%;
    margin: 0 auto;
    text-align: justify;
}

.row {
    margin: 0;
}

.document__category,
.book-list {
    padding: 10px 0;
}

.document__category {
    margin-top: 15px;
    padding-left: 20px;
}

.document__category-title,
.book-list__title {
    font-size: 1.8rem;
}

.document__category-item {
    margin: 10px 0;
}

.document__category-list a {
    transition: .15s linear;
}

.document__category-list a:hover {
    color: var(--main-color);
    transition: .15s linear;
}

.document__category-item-list {
    margin-left: 15px;
}

.document__category-item-details {
    padding: 3px 0;
}

.book-list {
    width: 100%;
}

.book-list__title {
    text-align: center;
    padding-bottom: 5px;
}

.book-list__title:not(first-child) {
    margin-top: 15px;
}

.book-list__item {
    width: 80%;
    height: 160px;
    background-color: orchid;
    margin: 2% auto;
    transition: .15s linear;
    border-radius: 25px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 20%);
}

.book-list__item:hover {
    opacity: 0.85;
    transition: .15s linear;
}

.book-list__item-title {
    margin-left: 5px;
    text-align: center;
    padding-top: 55px;
    font-size: 3rem;
    color: var(--white-color);
}

/* Background Books CSS */
.book-list__item.jlpt-n1 {
    background: linear-gradient(-45deg, #EB3349, #F45C43);
}

.book-list__item.jlpt-n2 {
    background: linear-gradient(-45deg, #fd746c, #ff9068);
}

.book-list__item.jlpt-n3 {
    background: linear-gradient(45deg, #2980b9, #2c3e50);
}

.book-list__item.jlpt-n4-5 {
    background: linear-gradient(-45deg, #808080, #3fada8);
}

@media (min-width: 1024px) {
    .document__wrap {
        padding: 0 10px;
    }
}

@media (max-width: 740px) {
    .document__header-title {
        font-size: 1.8rem;
    }

    .document__header-desc {
        font-size: 1.3rem;
    }
}